//extends layout.pug

block foot
footer.main-footer
  .container
    .copyright.center-block.text-center
      | &copy; 
      a(href='https://vk.com/superbrjn', style='color: #507299;') бржн
      |, 2017.

//block scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"
    )
    script(src='../public/js/main.js')