// Фотообложка + анимированное масштабирование в CSS
.cover-wrap(style='width: 1266px;')
  .cover
// Инструкция
.container
  h1.big-title Сервис удаления непопулярных постов
  p.center-block.text-center.p1
    | 1. Авторизируйтесь через кнопку "Войти" вверху, чтобы предоставить
    |   доступ к вашей стене.
  p.center-block.text-center.p2
    | 2. Выберите условия для удаления публикаций 
    br
    | (например: стереть все записи со стены,
    br
    | которые не набрали 10-ти лайков, 5-ти репостов, и 0 комментариев).
