<!DOCTYPE html>
<html>
  <head>
    <title>Админ-панель</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Все отзывы</h1>
    <p>Один-один</p>
  </body>
</html>
