<body>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-4 text-center'>
        <h1>New admin-user registration</h1>
        <form <form method='post' action='/register'>
          <input type='text' placeholder='Email' name='email' [(ngModel)]='user.email' class='form-control'>

          <input type='password' placeholder='Password' name='password' [(ngModel)]='user.password' class='form-control'>
          <input type='text' placeholder='Admin Code' name='adminCode' class='form-control'>
          <input type='submit' class='btn btn-primary' value='Register'>
        </form>
        <a href='/admin'>Login with an existing account</a>
      </div>
    </div>
  </div>
</body>
